### Question 4

In [13]:
# Create list of movies
movies = ["Interstellar", "The Imitation Game", "Inception", "Tenet"]

# Print movies
print(f"The list of movies before update: \n{movies}")

The list of movies before update:
['Interstellar', 'The Imitation Game', 'Inception', 'Tenet']

In [15]:
# Append a new movie to the list
movies.append("Forrest Gump")

# Print the updated list
print(f"The list of movies after appending a new movie: \n{movies}")

The list of movies after appending a new movie:
['Interstellar', 'The Imitation Game', 'Inception', 'Tenet', 'Forrest Gump', 'Forrest Gump']

### Question 5

In [18]:
# Creating the list of integers from 1 to 10
nums = [i for i in range(1, 11)]

# Print the list
print(f"Original list: \n{nums}")

Original list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Calculate the sum of all the list elements
sum = 0
for elem in nums:
    sum = sum + elem

# Print the result
print(f"The result is: {sum}")

The result is: 55

### Question 6

In [21]:
# Creating a mixed list (heterogenous)
mixed_list = ["Ram", 18, 20000.57]

# Print the list
print(f"Original List: {mixed_list}")

Original List: ['Ram', 18, 20000.57]

In [22]:
# Remove the first element from the list
mixed_list.pop(0)

# Print the modified list
print(f"The modified list: {mixed_list}")

The modified list: [18, 20000.57]

### Question 7

In [23]:
# Create the tuple containing the names of the days of a week
days = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

# Print the tuple
print(f"The tuple is: {days}")

The tuple is: ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [24]:
# Access the third day
third_day = days[2]

# Print the third day
print(f"The third day is: {third_day}")

The third day is: Tuesday

### Question 8

In [25]:
# Create a tuple containing the name of colors
colors = ("Blue", "Orange", "Black", "Purple", "Violet", "White")

# Print the tuple
print(f"The list of colors are: {colors}")

The list of colors are: ('Blue', 'Orange', 'Black', 'Purple', 'Violet', 'White')

In [29]:
# Choose a color from input
query = input("Enter your color: ")

# Check if the color is available in the tuple
if query.title() in colors:
    print(f"{query.title()} is present in the list.")
else:
    print(f"{query} is not present in the list.")

Enter your color:  black

Black is present in the list.

### Question 9

In [31]:
# Create a dictionary representing book informaiton
book_info = {
    "title": "The Tao of Physics",
    "author": "Fritjof Capra",
    "year": 2002
}

# Print the book information
print(f"Book information: \n{book_info}")

Book information:
{'title': 'The Tao of Physics', 'author': 'Fritjof Capra', 'year': 2002}

In [32]:
# Update the year of the book
book_info['year'] = 1975

# Print the updated list
print(f"The updated book information: \n{book_info}")

The updated book information:
{'title': 'The Tao of Physics', 'author': 'Fritjof Capra', 'year': 1975}

### Questiton 10

In [33]:
# Create the fruits dictionary
fruits = {
    "apple": "red",
    "banana": "green",
    "mango": "yellow"
}

# Print the dictionary
print(f"The fruits dictionary is: \n{fruits}")

The fruits dictionary is:
{'apple': 'red', 'banana': 'green', 'mango': 'yellow'}

In [34]:
# Add a new fruit-color pair to the dictionary
fruits['tangerine'] = "orange"

In [35]:
# Print the updated dictionary
print(f"The updated dictionary is: \n{fruits}")

The updated dictionary is:
{'apple': 'red', 'banana': 'green', 'mango': 'yellow', 'tangerine': 'orange'}

### Question 11

In [41]:
# Creating a dictionary representing the population of differnet cities
cities = {
    "New York": 8_804_190,
    "Los Angeles": 3_898_747,
    "Chicago": 2_746_388,
    "Houston": 2_304_580,
}

# Print the demographic information of each city
print(f"Original informaiton:\n{cities}")

Original informaiton:
{'New York': 8804190, 'Los Angeles': 3898747, 'Chicago': 2746388, 'Houston': 2304580}

In [42]:
# Remove a city from the dictionary
# Approach: 1
cities.pop('Houston')

2304580

In [43]:
# Approach: 2
del cities['Chicago']

In [44]:
# Print the modified dictionary
print(f"The updated dictionary is:\n{cities}")

The updated dictionary is:
{'New York': 8804190, 'Los Angeles': 3898747}